
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

li .btn-link{
  margin-top: 15px;
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:5px;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

