<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NPS Elections</title>
</head>
<body>
    <form method="post" action='/nps_vote'>
        <h4>HeadGirl:</h4>
        <input type="radio" id="hg" name="hg" value="neha">Neha<br>
        <input type="radio" id="hg" name="hg" value="sneha">Sneha<br>
        <h4>HeadBoy:</h4>
        <input type="radio" id="hb" name="hb" value="prithvi">Prithvi<br>
        <input type="radio" id="hb" name="hb" value="tanush">Tanush<br>
        <input type="submit"/>
    </form>
</body>
</html>